{% extends 'layout.html' %}

{% block body %}
	    <section class="jumbotron">
	      <div class="container">
	        <h1 class="jumbotron-heading">About Us</h1>
	        <p class="lead">This application is an inventory system created by 5 computer science students that were brought together by one professor to make an awesome application that is worthy of an A.</p>
	      </div>
	    </section>

	<div class="row">
	<div class="col-lg-4">
		<img class="rounded-circle" src="http://static.pokemonpets.com/images/monsters-images-800-800/2197-Shiny-Umbreon.png" alt="Generic placeholder image" width="140" height="140">
		<h2>Dana</h2>
		<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
		<p><a class="btn btn-primary" href="https://github.com/csudhtoro" role="button">View Github</a></p>
	</div><!-- /.col-lg-4 -->
	<div class="col-lg-4">
		<img class="rounded-circle" src="https://i.pinimg.com/originals/be/93/18/be93189ce05f05d687a336d9d7611a91.png" alt="Generic placeholder image" width="140" height="140">
		<h2>Helen Chang</h2>
		<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
		<p><a class="btn btn-primary" href="https://github.com/seochang" role="button">View Github</a></p>
	</div><!-- /.col-lg-4 -->
	<div class="col-lg-4">
		<img class="rounded-circle" src="https://cdn.bulbagarden.net/upload/thumb/b/bb/135Jolteon.png/250px-135Jolteon.png" alt="Generic placeholder image" width="140" height="140">
		<h2>Natalie Ang</h2>
		<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
		<p><a class="btn btn-primary" href="https://github.com/AngNet" role="button">View Github</a></p>
	</div><!-- /.col-lg-4 -->
	<div class="col-lg-4">
		<img class="rounded-circle" src="http://vignette4.wikia.nocookie.net/project-pokemon/images/f/fc/Vaporeon.png/revision/latest?cb=20161025174042" alt="Generic placeholder image" width="140" height="140">
		<h2>Johnal Leifsson</h2>
		<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
		<p><a class="btn btn-primary" href="https://github.com/Johnal-CSUF" role="button">View Github</a></p>
	</div><!-- /.col-lg-4 -->
	<div class="col-lg-4">
		<img class="rounded-circle" src="https://cdn.bulbagarden.net/upload/thumb/d/dd/136Flareon.png/250px-136Flareon.png" alt="Generic placeholder image" width="140" height="140">
		<h2>Kavit</h2>
		<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
		<p><a class="btn btn-primary" href="https://github.com/kitkav" role="button">View Github</a></p>
	</div><!-- /.col-lg-4 -->
</div><!-- /.row -->
{% endblock %}
