{%extends 'other_layout.html'%}

{%block body%}
<body>
	<h1>Dashboard <small>Welcome {{session.username}}</small></h1>
		<ul class = "list-group">
      <li class="list-group-item"><a href="/adding">Customer and Product Info</a></li>
      <li class="list-group-item"><a href="/reorder">Reorder Products</a></li>
      <li class="list-group-item"><a href="/sale">Add and View Sale</a></li>
			<li class="list-group-item"><a href="/user_list">List of Users</a></li>
			<li class="list-group-item"><a href="/end_day_report">End of Day Report</a></li>
	</ul>
</body>

	<style type = "text/css">
	body{
		background-color:#F8F8F8;
	}
	</style>
{%endblock%}
