{%extends 'layout.html'%}

{%block body%}
<body>
	{%for user in users%}
		{% if user.manager == 'yes' and user.username == session.username %}
		<h1>Dashboard <small>Welcome Manager {{session.username}}</small></h1>
		{% elif user.manager == 'no' and user.username == session.username %}
		<h1>Dashboard <small>Welcome {{session.username}}</small></h1>
		{%endif%}
	{%endfor%}
		<ul class = "list-group">
			<li class="list-group-item"><a href="/adding">Customer and Product Info</a></li>
      <li class="list-group-item"><a href="/reorder">Product Reorder</a></li>
      <li class="list-group-item"><a href="/sale">Sales</a></li>
			<li class="list-group-item"><a href="/report">Reports</a></li>
			{%for user in users%}
				{% if user.manager == 'yes' and user.username == session.username %}
				<li class="list-group-item"><a href="/user_list">List of Users</a></li>
				<li class="list-group-item"><a href="/end_day_report">End of Day Report</a></li>
				{%endif%}
			{%endfor%}
	</ul>
</body>

	<style type = "text/css">
	body{
		background-color:#F8F8F8;
	}
	</style>
{%endblock%}
