{% extends 'layout.html' %}

{% block body %}
<div class="container-fluid">
    <h1>End of Day Report</h1>
    <hr>
    <div class="row">
      <h3>Current Sale</h3>
          <table class="table table-striped">
            <tr>
              <th>Item Number</th>
              <th>Customer ID</th>
              <th>Order Date</th>
              <th>Quantity</th>
              <th> </th>
              <th> </th>
            </tr>
            {%for order in orders%}
              <tr>
                <td>{{order.ItemNumber}}</td>
                <td>{{order.CustID}}</td>
                <td>{{order.OrderDate}}</td>
                <td>{{order.Quantity}}</td>
                <td><a href="edit_sale/{{order.ItemNumber}}" class="btn btn-default pull-right">Edit</a></td>
                <td>
                  <form action="{{url_for('delete_sale', ItemNumber=order.ItemNumber)}}" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="submit" value="Delete" class="btn btn-danger">
                  </form>
                </td>
              </tr>
            {% endfor %}
          </table>

      <h3>Current Customers</h3>
          <table class="table table-striped">
            <tr>
              <th>Customer ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Phone</th>
              <th>Email</th>
              <th> </th>
              <th> </th>
            </tr>
            {%for customer in customers%}
              <tr>
                <td>{{customer.CustID}}</td>
                <td>{{customer.Fname}}</td>
                <td>{{customer.Lname}}</td>
                <td>{{customer.Phone}}</td>
                <td>{{customer.Email}}</td>
                <td><a href="edit_customer/{{customer.CustID}}" class="btn btn-default pull-right">Edit</a></td>
                <td>
                  <form action="{{url_for('delete_customer', CustID=customer.CustID)}}" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="submit" value="Delete" class="btn btn-danger">
                  </form>
                </td>
              </tr>
            {% endfor %}
          </table>

          <br>
          <h3>Current Products</h3>
              <table class="table table-striped">
                <tr>
                  <th>Item Number</th>
                  <th>Description</th>
                  <th>Price</th>
                  <th>Available</th>
                  <th>Class</th>
                  <th>Origin</th>
                  <th>Lead Time</th>
                  <th> </th>
                  <th> </th>

                </tr>
                {%for product in products%}
                  <tr>
                    <td>{{product.ItemNumber}}</td>
                    <td>{{product.Description}}</td>
                    <td>{{product.Price}}</td>
                    <td>{{product.Available}}</td>
                    <td>{{product.Class}}</td>
                    <td>{{product.Origin}}</td>
                    <td>{{product.Lead_Time}}</td>
                    <td><a href="edit_product/{{product.ItemNumber}}" class="btn btn-default pull-right">Edit</a></td>
                    <td>
                      <form action="{{url_for('delete_product', ItemNumber=product.ItemNumber)}}" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="submit" value="Delete" class="btn btn-danger">
                      </form>
                    </td>
                  </tr>
                {% endfor %}
              </table>
          <br>

      <h3>Inventory</h3>
          <div class="table-responsive">

          </div>
        </div>
      </div>
{% endblock %}
