<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title> MyInventoryApp </title>
		<link rel ="stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
	<body>
		{% include 'includes/_navbar.html'%}
		<div class = "container">
			{% include 'includes/_messages.html'%}
		{% block body %}{% endblock %}
	</div>

		<script src= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
		</script>
		<script src="//cdn.ckeditor.com/4.7.3/basic/ckeditor.js"></script>
		<script type="text/javascript">
			CKEDITOR.replace('editor')
			</script>

			<br><br>
			<footer id="main-footer">
	      <div class="container">
	        <div class="row center-xs center-sm center-md center-lg">
	          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	            <p>Copyright &copy; 2017 | MyInventoryApp</p>
	          </div>
	        </div>
	      </div>
	    </footer>
	</body>
</html>
<style type = "text/css">
html, body{
  font-family:'Open-sans', sans-serif;
  font-size:17px;
  line-height:1.5em;
  margin:0;
  padding:0;
	height: 100%;
}

footer{
	position: fixed;
	left:0px;
	bottom:0px;
	height:50px;
	width:100%;
	padding:15px;
	margin-top:20px;
	background:#6EC4DB;
  color:#fff;
	text-align:center;
}
</style>
