{% extends 'layout.html' %}

{% block body %}
	<h1>Menu</h1>
	<ul class = "list-group">
			<li class="list-group-item"><a href="/all_reports">Reports</a></li>
      <li class="list-group-item"><a href="/adding">Add Customer, Orders, Inventory or Products</a></li>
      <li class="list-group-item"><a href="/discontinued">Discontinued, threshold for reordering</a></li>
      <li class="list-group-item"><a href="/ledger">Daily Ledger</a></li>
      <li class="list-group-item"><a href="/sales">New Sale</a></li>
	</ul>
{% endblock %}
