{% extends 'layout.html' %}

{% block body %}
<div class="container-fluid">
    <h1>Purchase Completed</h1>
    <hr>
    <div class="row">
      <h3>Receipt</h3>
          <table class="table table-striped">
            <tr>
              <th>Item Number</th>
              <th>Customer ID</th>
              <th>Order Date</th>
              <th>Quantity</th>
              <th> </th>
              <th> </th>
            </tr>
            {%for order in orders%}
              <tr>
                <td>{{order.ItemNumber}}</td>
                <td>{{order.CustID}}</td>
                <td>{{order.OrderDate}}</td>
                <td>{{order.Quantity}}</td>
              </tr>
            {% endfor %}
          </table>
        </div>

{% endblock %}
