{% extends 'layout.html' %}

{% block body %}

<div class="container-fluid">
      <h1>Reorder Products</h1>
      <hr>
      <div class="row">
              <table class="table table-striped">
                <h3>Units in Need of Restocking</h3>
                <tr>
                  <th>Item Number</th>
                  <th>Description</th>
                  <th>Price</th>
                  <th>Inventory Amount</th>
                  <th>Class</th>
                  <th>Origin</th>
                  <th> </th>
                  <th> </th>

                </tr>
                {%for product in products%}
                  <tr>
                    <td>{{product.ItemNumber}}</td>
                    <td>{{product.Description}}</td>
                    <td>{{product.Price}}</td>
                    <td>{{product.inventory_amount}}</td>
                    <td>{{product.Class}}</td>
                    <td>{{product.Origin}}</td>
                  </tr>
                {% endfor %}
              </table>

      </div>
    </div>
{% endblock %}
