{% extends 'layout.html' %}

{% block body %}
<link href="dashboard.css" rel="stylesheet">
  <div class="container-fluid">
      <h1>New Sales</h1>
      <div class="row">
        <form action="" method ="POST">
          <div class="form-group">
            <label>Transaction ID</label>
            <input type="text" name="transaction_id" class="form-control" value={{request.form.password}}>
          </div>
          <div class="form-group">
            <label>Customer Phone Number</label>
            <input type="text" name="phone_number" class = "form-control" value = {{request.form.username}}>
          </div>
          <div class="form-group">
            <label>Quantity of Products to be Purchased</label>
            <input type="text" name="product_quantity" class="form-control" value={{request.form.password}}>
          </div>
          <div class="form-group">
            <label>Product ID</label>
            <input type="text" name="product_id" class="form-control" value={{request.form.password}}>
          </div>
          <div class="form-group">
            <label>Product Description</label>
            <input type="message" name="product_description" class="form-control" value={{request.form.password}}>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
  </div>

{% endblock %}
